.accueil_C{
	display:flex;

}
.categorie_accueil{
	border-width:1px;
	border-style:solid;
	border-color:white;
	width:30%;
	height:100%;
}
.text_categorie{
	border-width:1px;
	border-style:solid;
	border-color:white;
	width:70%;
	height:100%;
}
