.text_blanc{
	color:white;

}
.champ{
	width:90%;
}

.en_ligne{
	display:flex;
	padding-top:2px;
	padding-bottom:2px;
}
.inscription{
width:45%;

}
.button2 {
  #background-color: #4CAF50; /* Green */
  background-color: white; /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width:200px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}

.button3 {
  #background-color: white;
  background-color: #4CAF50;
  color: black;
  border: 2px solid #4CAF50;
}

.button3:hover {
  background-color: white;
  color: black;
}
