
.align_gauche{
text-align:left;
padding-left:10px;
}

.align_droite{
text-align:center;

}

.nouvelle_element{
	width:100%;
	border-width:1px;
	border-style:solid;
	border-color:white;
	height:50%;
}

.text_du_produit{
width:60%;
color:white;

}

.ajouter_produit{
	width:30%;
}

.button4 {
  #background-color: #4CAF50; /* Green */
  background-color: white; /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width:200px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}

.button5 {
  #background-color: white;
  background-color: #4CAF50;
  color: black;
  border: 2px solid #4CAF50;
}

.button5:hover {
  background-color: white;
  color: black;
}
.pad_top_righ{
	padding-top:1%;
	padding-right:30px;
}
.pad_left{
	padding-left:40%;
}
.prix{
margin-right:5%;
width:10%;
}
