body{
	background-color:black;
}

.header{
	#background-color: red;
	width: 100%;
	height:30%;
}

.menu_text{
	text-align:center;
	color:white;
}

.contenu{
	display:flex;
	#background-color: yellow;
	width: 100%;
	height:70%;
}
.menu{
	margin: 0 auto;
	border-color: white;
	width: 25%;
	height:100%;
	border-width:1px;
	border-style:solid;
}

.accueil{
border-color: white;
	border-width:1px;
	border-style:solid;
	margin: 0 auto;
	#background-color: green;
	width: 65%;
	height:100%;

}

.image{
	width:100%;
	height:100%;
}
.merci{
	height:10px;
}
